body, html{
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1484651890318-ca4110437e20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  }

body{
    font-family: 'Nunito', sans-serif;
  }

.navbar{
    background: none;
    font-size: 25px;
}

#mainNavbar .nav-link:hover {
    color: #FFB6C1;
}


  
.jumbotron{
    margin-top: 30px;
    background:none;
    text-align:center;
    color: #F8F8FF;
}

.jumbotron .display-4{
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
}
.jumbotron .lead{
    font-size: 20px;
    font-family: 'Bad Script', cursive;
}


.social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
    text-align: center;
 }
.social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
 }
.social li a { 
    color: #fff; 
}
.social li a:hover {
     color: #11ABB0; 
    }